body {
    background: #948c75;
    margin: 0;
}

#player-select {
    position: absolute;
    width: 500px;
    height: 150px;
    top: 50px;
    left: 50%;
    margin-left: -200px;
    background: #d9ceb2;
    border: 2px solid #7a6a53;
}

h4 {
    font: bold 40px Palatino;
    margin: 20px;
    color: #000;
}

#player-select select {
    font: bold 24px Palatino;
    color: #000;
    margin-left: 150px;
}

#player-select input {
    font: bold 24px Palatino;
    color: #000;
}


#board {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

h1 {
    font: bold 36px Palatino;
    color: #000;
    text-align: center;
    margin: 0;
}

#hole {
    position: relative;
    top: 0;
    left: 50%;
    width: 50%;
    /* margin-left calculated by js */
}

div.hole {
    width: 72px;
    height: 96px;
    border: 2px solid #7a6a53;
    background: #d9ceb2;
    float: left;
    margin-right: 20px;
    font: bold 72px Palatino;
    text-align: center;
    line-height: 96px;
    color: #7a6a53;
}

#players {
    display: none;
    position: absolute;
    top: 160px;
    width: 100%;
}

div.player {
    /* width calculated by js */
    float: left;
    margin-left: 2%;
}

h2 {
    font: bold 36px Palatino;
    color: #000;
    margin: 0;
    padding: 0 0 1px 5px;
    border-bottom: 2px solid #7a6a53;
}

#status {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #d5ded9;
    border-top: 2px solid #99b2b7;
}

h3 {
    font: bold 24px Palatino;
    text-align: left;
    line-height: 40px;
    color: #000;
    margin: 0 0 0 20px;
}

div.deck {
    margin: 10px 0 20px 10px;
}

div.deck span {
    font: bold 72px Palatino;
    line-height: 100px;
    text-align: left;
    padding-left: 10px;
}

div.cards {
    width: 72px;
    height: 96px;
    border: 2px solid #7a6a53;
    background: #d9ceb2;
    float: left;
    font: bold 72px Palatino;
    text-align: center;
    line-height: 96px;
    color: #444;
}

div.warchest {
    height: 100px;
    margin-bottom: 20px;
}

div.warchest-card {
    width: 72px;
    height: 96px;
    background: #d9ceb2;
    border: 2px solid #7a6a53;
    float: left;
    margin-right: 10px;
}

#autoplay-box {
    position: absolute;
    top: 0;
    right: 0; 
    margin-right: 20px;
}

#autoplay-box label {
    font: bold 18px Palatino;
    color: #000;
    line-height: 40px;
}
